.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 35px;
    &__image {
        margin: 0 auto;
        margin-right: 40px;
    }
    &__descr {
        padding-left: 40px;
        margin-bottom: 15px;
        &_name {
            font-size: 18px;
            color: #0d0d0d;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &_subtitle {
            font-size: 14px;
            color: #646464;
            font-weight: 300;
            margin-bottom: 15px;
        } 
        &_text {
            font-size: 16px;
            color: #0d0d0d;
            font-weight: 300;
            margin-bottom: 15px;
        }
    }
}